<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee"
         xmlns:xsi="http://www.w3.org"
         xsi:schemaLocation="https://jakarta.ee
                             https://jakarta.ee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Gestion Emplois Temps</display-name>

    <welcome-file-list>
        <welcome-file>utilisateur/login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CoursServlet</servlet-name>
        <servlet-class>servlet.CoursServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoursServlet</servlet-name>
        <url-pattern>/CoursAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnseignantServlet</servlet-name>
        <servlet-class>servlet.EnseignantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnseignantServlet</servlet-name>
        <url-pattern>/EnseignantAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EtudiantServlet</servlet-name>
        <servlet-class>servlet.EtudiantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EtudiantServlet</servlet-name>
        <url-pattern>/EtudiantAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SalleServlet</servlet-name>
        <servlet-class>servlet.SalleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalleServlet</servlet-name>
        <url-pattern>/SalleAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SeanceServlet</servlet-name>
        <servlet-class>servlet.SeanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeanceServlet</servlet-name>
        <url-pattern>/SeanceAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlanningServlet</servlet-name>
        <servlet-class>servlet.PlanningServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlanningServlet</servlet-name>
        <url-pattern>/PlanningAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExamenServlet</servlet-name>
        <servlet-class>servlet.ExamenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamenServlet</servlet-name>
        <url-pattern>/ExamenAction</url-pattern>
    </servlet-mapping>

</web-app>
